.about-main-div{
    margin-right: 0px;
    margin-left: 0px;
}

.about-div-sub{
    margin-left: 0px;
}

.about-header-first{
    font-family: GT Walsheim Pro;
}

.about-header-second{
    color: rgb(6,18,30);
    margin-bottom: 0px;
    font-family: GT Walsheim Pro;
}

.about-div-second{
    margin: 0px;
    margin-left: 0px;
}

.about-img{
    margin: 0px;
    margin-top: 0px;
}

.about-div-third{
    margin-right: 0px;
    margin-left: 0px;
}

.about-bottom-div{
    margin-left:0px;
    margin-right:0px;
    margin-top:40px;
}