.articles-body{
    background-color:white;
}

.articles-main-div{
    margin-right: 0px;
    margin-left: 0px;
}

.articles-sub-div{
    margin: 26px;
    margin-left: 0px;
}

.articles-img{
    margin: 0px;
    margin-top: 0px;
}

.articles-header{
    font-family: GT Walsheim Pro;
}

.articles-header-second{
    color:#2fefe4;
    font-family: GT Walsheim Pro;
}

.articles-header-third{
    color: rgb(6,18,30);
    margin-bottom: 0px;
    font-family: GT Walsheim Pro;
}

.articles-input{
    margin: 0px;
    margin-left: 0px;
    padding: 6px;
    padding-left: 15px;
    font-family: GT Walsheim Pro;
}

.articles-div-second{
    margin-top: 56px;
}

.articles-div-third{
    margin: 27px;
}