.events-body{
    background-color:white;
}

.events-div{
    margin-right: 0px;
    margin-left: 0px;
}

.events-header{
    font-family: GT Walsheim Pro;
    margin-top: 0px;
}

.events-header-fourth{
    color: rgb(9,117,225);
    margin-bottom: 0px;
    font-family: GT Walsheim Pro;
}

.events-img{
    margin-top: 0px;
}

.events-input{
    margin: 0px;
    margin-left: 0px;
    padding: 6px;
    padding-left: 15px;
    font-family: GT Walsheim Pro;
}

.events-div-second{
    margin-top: 87px;
}

.events-header-fifth{
    font-family: GT Walsheim Pro;
}

.events-div-third{
    justify-content:center;
    margin-left:0px;
    margin-right:0px;
}

.events-img-second{
    position:absolute;
    float:right;
    right:0;
    height:70%;
}

.events-img-third{
    position:absolute;
    float:left;
    left:0;
    height:70%;
    margin-top:15%;
}

.events-div-card{
    margin: 40px;
    padding-left:0px;
    padding-right:0px;
}

.events-location{
    align-self:end;
    position:absolute;
    z-index:4;
    margin-top:55%;
    margin-right:10px;
    padding:2px;
    border-radius:2px;
    background-color:white;
}

.events-img-fluid{
    z-index:0;
}

.events-img-location{
    margin-right: 4px;
    margin-top: -2px;
}