@font-face {
    font-family: "GT Walsheim Pro";
    src: url(../fonts/GTWalsheimProRegular.ttf);
}

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url(../fonts/brandon_grotesque.otf);
}

@font-face {
    font-family: "Fake Serif";
    src: url(../fonts/fake_serif.ttf);
}