.hall-body{
    width:99%;
}

.hall-sub{
    background-color:white;
}

.hall-div{
    margin: 26px;
    margin-left: 0px;
}

.hall-img{
    margin: 0px;
    margin-top: 0px;
}

.hall-div-second{
    margin-left: 0px;
}

.hall-header{
    font-family: GT Walsheim Pro;
}

.hall-header-second{
    font-family: GT Walsheim Pro;
    color: rgb(71,130,188);
}

.hall-img-second{
    position: absolute;
    max-width: 80%;
    margin-left:15px;
}

.hall-div-third{
    margin-top: 87px;
    margin-left:0px;
    margin-right:0px;
}

.hall-img-third{
    position:absolute;
    float:right;
    right:0;
}

.hall-img-fourth{
    position:absolute;
    float:left;
    left:0%;
    height:200%;
}

.hall-header-third{
    font-family: GT Walsheim Pro;
    display:flex;
    justify-content:center;
}

.hall-div-fourth{
    padding-top:1%;
}

.hall-div-thirteenth{
    margin-left:0px;
    margin-right:0px;
}

.hall-div-fifth{
    margin-left:0px;
    margin-right:0px;
    margin-top:40px;
}

.hall-div-sixth{
    height: 400px;
    width: 280px;
    margin-left:0px;
    margin-right:0px;
}

.hall-img-fifth{
    background-color:white;
    width:200px;
}

.hall-div-seventh{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -20px;
    width: 280px;
}

.hall-div-eighth{
    background-color:white;
    position:absolute;
    width:280px;
    height:38%;
    margin-left:-20px;
}

.hall-img-sixth{
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    z-index: 5;
    margin-left: 10px;
    border: 5px solid;
    background-color: white;
    width: 120px;
    margin-top: 100px;
}

.hall-div-ninth{
    margin-top: 20px;
}

.hall-p{
    color:white;
}

.hall-div-tenth{
    display:flex;
    justify-content:center;
}

.hall-img-seventh{
    margin-right: 4px;
    margin-top: -2px;
}

.hall-div-eleventh{
    margin-top: 87px;
    margin-left:0px;
    margin-right:0px;
}

.hall-img-eighth{
    position:absolute;
    float:right;
    right:0;
    height:100%;
    margin-top:10%;
}

.hall-img-ninth{
    position:absolute;
    float:left;
    left:0;
    width:40%;
    margin-top:20%;
}

.hall-div-twelth{
    width:100hw;
}

.hall-img-tenth{
    position:absolute;
    float:right;
    right:0;
    height:70%;
    margin-top:10%;
}

.hall-img-eleventh{
    position:absolute;
    float:left;
    left:0;
    height:50%;
    margin-top:30%;
}

