.hall-upper-div{
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.hall-upper-left-div{
    float: left;
    width: 30%;
}

.hall-upper-right-div{
    float: right;
    width: 60%;
}

.upper-heading-div{
    width: 100%;
    height: 40%;
}

.lower-description-div{
    width: 100%;
    height: 60%;
}

.hall-top-left-image{
    height: 90%;
    width: 90%;
    margin-left: 10%;
}

.hall-top-right-image{
    float: right;
    margin-right: 0%;
    margin-left: 92%;
    margin-top: -28%;
    height: 10%;
    width: 6%;
    position: relative;
}

.upper-heading-para{
    font-family: GT Walsheim Pro;
    font-size: 3.5vw;
    color: #3A454B;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.lower-description-para{
    font-family: GT Walsheim Pro;
    font-size: 1.5vw;
    color: #3F82AA;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.hall-leads-line-div{
    margin-top: 0%;
    width: 100%;
    align-self: center;
    height: 20%;
    position: relative;
}

.hall-leads-section-image{
    height: 20%;
    width: 93%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -5%;
}