@import './colors.scss';
.hall-body{
    padding-top: 5vh;
    background-color: $colorBackground;
}

.hall-upper-div{
    position: relative;
    width: 100%;
}

.hall-upper-left-div{
    float: left;
    width: 30%;
}

.hall-upper-right-div{
    float: right;
    width: 60%;
}

.upper-heading-div{
    width: 100%;
    height: 40%;
}

.lower-description-div{
    width: 100%;
    height: 60%;
}

.hall-top-left-image{
    height: 90%;
    width: 90%;
    margin-left: 10%;
}

.hall-top-right-image{
    float: right;
    margin-right: 0;
    margin-left: 92%;
    margin-top: -28%;
    height: 10%;
    width: 6%;
    position: relative;
}

.upper-heading-para{
    font-family: GT Walsheim Pro, sans-serif;
    font-size: 48px;
    color: #3A454B;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.lower-description-para{
    font-family: GT Walsheim Pro, sans-serif;
    font-size: 24px;
    color: #3F82AA;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.hall-leads-line-div{
    margin-top: 0;
    width: 100%;
    align-self: center;
    height: 20%;
    position: relative;
}

.hall-leads-section-image{
    height: 20%;
    width: 93%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -5%;
}

.hall-leads-section{
    position: relative;
    width: auto;
    margin: auto;
    z-index: 5;
}

.hall-leads-detail{
    z-index: 2;
    width: 300px;
    height: 400px;
    margin-left: 7.5%;
    margin-top: 3%;
    margin-right: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hall-leads-upper-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 102px;
}

.hall-leads-lower-div{
    width: 100%;
    height: 250px;
    background-color: #5F7DE7;
}

.hall-lead-name{
    width: 100%;
    height: 70px;
}

.hall-lead-skill{
    width: 100%;
    height: 70px;
}

.hall-lead-name-para{
    margin-top: 20px;
    width: 100%;
    font-family: GT Walsheim Pro, sans-serif;
    text-align: center;
    color: #4F6AC9;
    font-size: 28px;
}

.hall-lead-skill-para{
    width: 100%;
    margin-top: -10px;
    text-align: center;
    font-family: GT Walsheim Pro, sans-serif;
    color: #686868;
    font-size: 16px;
}

.hall-lead-image-div{
    height: 96px;
    width: 96px;
    top: 150px;
    margin-left: 101px;
    padding: 2px;
    background-color: #4F6AC9;
    border-radius: 50%;
    align-items: center;
    margin-bottom: -48px;
    display: flex;
    justify-content: center;
}

.hall-lead-image{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

.hall-contrib-div{
    width: 100%;
    height: 60px;
}

.hall-contrib-image{
    width: 70px;
    height: 50px;
    margin-top: 12%;
    margin-left: 115px;
}

.hall-contrib-text-div{
    width: 100%;
    height: 100px;
}

.hall-contrib-text-para{
    width: 100%;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 8%;
}

.hall-enclosing-div{
    margin-left: 10%;
    width: 80%;
}

.hall-media-icons-div{
    width: 100%;
    height: 60px;
    margin-top: 16px;
    justify-content: center;
}

.designers-container,
.developers-container,
.leads-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hall-media-image{
    margin-left: 17px;
    height: 37px;
    width: 37px;
}

.hall-middle-left-image{
    position: relative;
    height: 1400px;
    margin-top: -70%;
    z-index: 1;
}

.hall-middle-right-image{
    position: relative;
    height: 460px;
    margin-top: -100%;
    margin-left: 60%;
    z-index: 1;
}

.hall-designers-line-div{
    margin-top: -5%;
    width: 100%;
    align-self: center;
    height: 20%;
    position: relative;
}

.hall-designers-section-image{
    height: 20%;
    width: 93%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -7%;
}

.hall-lower-left-image{
    z-index: 1;
    position: relative;
    height: 300px;
    margin-top: -30%;
}

.hall-lower-right-image{
    z-index: 1;
    height: 450px;
    margin-left: 85%;
    margin-right: -5%;
    margin-top: -30%;
    position: relative;
}

.hall-developers-line-div{
    margin-top: 0;
    width: 100%;
    align-self: center;
    height: 20%;
    position: relative;
}

.hall-developers-section-image{
    height: 20%;
    width: 93%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
}

.hall-bottom-left-image{
    z-index: 1;
    height: 360px;
    margin-top: -5%;
}

.hall-bottom-right-image{
    z-index: 1;
    height: 400px;
    margin-left: 69%;
    margin-top: -65%;
}

@media only screen and (max-width: 700px) {


    .hall-leads-section{
        position: relative;
        width: 90vw;
        margin: 0;
        z-index: 5;
    }

    .hall-upper-div{
        position: relative;
        width: 100%;
        margin-top: 5%;
    }
    
    .hall-upper-left-div{
        width: 100%;
    }
    
    .hall-upper-right-div{
        width: 100%;
    }
    
    .upper-heading-div{
        width: 100%;
        height: 40%;
    }
    
    .lower-description-div{
        width: 100%;
        height: 60%;
    }
    
    .hall-top-left-image{
        height: 75%;
        width: 75%;
        margin-left: 15%;
    }
    
    .hall-top-right-image{
        float: right;
        margin-right: 0;
        margin-left: 92%;
        margin-top: -28%;
        height: 10%;
        width: 6%;
        position: relative;
    }
    
    .upper-heading-para{
        font-family: GT Walsheim Pro, sans-serif;
        font-size: 48px;
        color: #3A454B;
        margin-right: 15%;
        margin-left: 10%;
        margin-top: 5%;
    }
    
    .lower-description-para{
        font-family: GT Walsheim Pro, sans-serif;
        font-size: 20px;
        color: #3F82AA;
        margin-right: 15%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .hall-leads-line-div{
        margin-top: 0;
        width: 100%;
        align-self: center;
        height: 30%;
        position: relative;
    }

    .hall-leads-section-image{
        width: 1000px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: -5%;
    }

    .hall-leads-detail{
        z-index: 2;
        width: 300px;
        height: 400px;
        margin-left: 16%;
        margin-top: 3%;
        margin-right: 0;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hall-middle-left-image{
        position: relative;
        height: 1200px;
        margin-top: -230%;
        z-index: 1;
    }
    
    .hall-middle-right-image{
        position: relative;
        height: 460px;
        margin-top: -120%;
        margin-left: 10%;
        z-index: 1;
    }

    .hall-lower-left-image{
        z-index: 1;
        position: relative;
        height: 200px;
        margin-top: -150%;
        margin-left: 10%;
    }
    
    .hall-lower-right-image{
        z-index: 1;
        height: 450px;
        margin-left: 85%;
        margin-right: -5%;
        margin-top: -80%;
        position: relative;
    }

    .hall-bottom-left-image{
        z-index: 1;
        height: 300px;
        margin-top: -5%;
    }
    
    .hall-bottom-right-image{
        z-index: 1;
        height: 200px;
        margin-left: 50%;
        margin-top: -125%;
    }

    .hall-designers-section-image{
        width: 1000px;
    }

    .hall-developers-section-image{
        width: 1000px;
    }

}