.home-body {
    background-color: #60b6e9;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
}

.home-head {}

.home-h3 {
    margin-bottom: 20px;
    font-weight: 400;
}

.home-h5 {
    margin-bottom: 20px;
    font-weight: 400
}

.home-p-world {
    margin-top: 20px;
}

.home-know-more {
    color: #60b6e9;
    font-weight: bolder
}

.home-col {
    margin-right: 50px;
    background-color: #60b6e9
}

.home-img {
    background-color: #60b6e9
}