.home-body {
    background-color: $colorPrimary;
    margin-left: 0px;
    margin-right: 0px;
    color: $colorBackground;
    height: 100vh;
}

.home-head {}

.home-h3 {
    margin-bottom: 20px;
    font-weight: 400;
}

.home-h5 {
    margin-bottom: 20px;
    font-weight: 400
}

.home-p-world {
    margin-top: 20px;
    font-family: "Fake Serif";
}

.home-know-more {
    color: $colorPrimary;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 7px;
    margin-top: 15px;
    padding: 2px 8px;
}

.home-col {
    margin-right: 50px;
    background-color: $colorPrimary;
}

.home-img {
    background-color: $colorPrimary;
}