@import './colors.scss';
@import './Home.scss';
@import './fonts.scss';
@import './About.scss';
@import './Articles.scss';
@import './Events.scss';
@import './Hall.scss';
@import './NavBar.scss';
@import './Join.scss';
@import './Certificates.scss';

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: $colorPrimary;
}

.App {
  height: 100vh;
}