.projects-img-top{
    height: 80%;
    width: 80%;
    float: left;
    margin-left: 3%;
    margin-top: 7%;
}

.projects-head-div{
    position: relative;
    width: 100%;
}

.projects-para-title{
    color: #3A454B;
    font-size: 3.5vw;
    font-family: GT Walsheim Pro;
    margin-top: 10%;
    margin-right: 35%;
}

.projects-para-description{
    color: #3F82AA;
    font-family: GT Walsheim Pro;
    font-size: 1.5vw;
    margin-top: 0%;
    margin-right: 35%;
}

.projects-top-left-div{
    width: 40%;
    float: left;
}

.projects-top-right-div{
    width: 60%;
    float: right;
}

.projects-search-img{
    height: 50%;
    width: 50%;
}

.projects-search-text{
    color: #686868;
    font-family: GT Walsheim Pro;
    font-size: 1.2vw;
    border: none;
    width: 100%;
    height: 45%;
    margin-left: 0px;
}

.projects-search-left-div{
    width: 5%;
    float: left;
}

.projects-search-right-div{
    width: 45%;
    float: left;
}

.projects-search-div{
    margin-top: 5%;
}

.projects-hackslash-para{
    color: #3E97BF;
    font-family: GT Walsheim Pro;
    font-size: 1.6vw;
    margin-left: 2%;

}

.projects-hackslash-div{
    position: relative;
    width: 100%;
    margin-top: 5%;
    float: left;
}

.projects-hackslash-underline{
    width: 13%;
    border:  1.2px solid rgba(0, 0, 0, 0.47);
    margin-top: -1.4%;
    margin-left: 2%;
    float: left;
}

.projects-list-div{
    position: relative;
    width: 100%;
    margin-left: 0;
}

.projects-project-detail{
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 2%;
    z-index: 1;
}

.projects-image-div{
    position: relative;
    width: 100%;
    height: 200px;
}

.projects-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.projects-starfork-div{
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background-color: white;
}

.projects-star-div{
    position: relative;
    background-color: #f5f5f5;
    height: 30px;
    float: right;
    margin-right: 15px;
    width: 25%;
}

.projects-star-image-div{
    position: relative;
    float: left;
    width: 20%;
}

.projects-star-text-div{
    position: relative;
    float: right;
    width: 80%;
}

.projects-star-text{
    margin-left: 10px;
    margin-top: 3px;
    font-family: Mada;

}

.projects-fork-div{
    position: relative;
    background-color: #f5f5f5;
    height: 30px;
    float: right;
    margin-top: 0.8px;
     margin-right: 10px;
    width: 25%;
}

.projects-fork-image-div{
    position: relative;
    float: left;
    width: 20%;
}

.projects-fork-text-div{
    position: relative;
    float: right;
    width: 80%;
}

.projects-fork-text{
    margin-left: 45px;
    margin-top: 2px;
    font-family: Mada;
}

.projects-text-section{
    position: relative;
    width: 100%;
    height: 150px;
}

.projects-heading-text-div{
    margin-top: 5px;
    position: relative;
    width: 100%;
}

.projects-description-text-div{
    position: relative;
    width: 100%;
}

.projects-heading-text{
    font-family: GT Walsheim Pro;
    color: #000000;
    margin-left: 20px;
    font-size: 25px;
}

.projects-description-text{
    font-family: GT Walsheim Pro;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    margin-left: 20px;
}

.projects-tags-div{
    position: relative;
    width: 100%;
    height: 30px;
}

.projects-language-image{
    margin-left: 35px;
}

.projects-tags-individual-div{
    background: #60B6E9;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 19px;
    margin-left: 12px;
    width: max-content;
    padding-left: 4px;
    padding-right: 4px;
    height: 28px;
}

.projects-left-side-vec{
    position: absolute;
    height: 180%;
    width: 30%;
    z-index: 0;
    float: left;
}

.projects-left-side-under-vec{
    position: absolute;
    z-index: 0;
    float: left;
    height: 100%;
    width: 30%;
    margin-left: 8%;
    margin-top: 30%;
}
.projects-right-side-vec{
    position: absolute;
    float: right;
    margin-left: 55%;
    margin-right: 10%;
    margin-top: 15%;
    height: 35%;
    width: 40%;
    z-index: 0;
}

.projects-bottom-left-img{
    position: absolute;
    z-index: -1;
    height: 25%;
    bottom: -1700px;
    left: 0px;
}

.projects-bottom-right-img{
    position: absolute;
    height: 40%;
    width: 40%;
    z-index: -1;
    bottom: -1700px;
    right: 0px;
}

@media only screen and (max-width: 700px) {

    .projects-img-top{
        height: 260px;
        width: 340px;
        align-self: center;
        margin-top: 7%;
    }
    
    .projects-head-div{
        position: relative;
        width: 100%;
    }
    
    .projects-para-title{
        color: #3A454B;
        font-size: 5vw;
        font-family: GT Walsheim Pro;
        margin-top: 10%;
        margin-left: 15%;
    }
    
    .projects-para-description{
        color: #3F82AA;
        font-family: GT Walsheim Pro;
        font-size: 2.5vw;
        margin-top: 0%;
        margin-left: 15%;
    }
    
    .projects-top-left-div{
        width: 100%;
    }
    
    .projects-top-right-div{
        width: 100%;
        margin-left: 40%;
    }
    
    .projects-search-img{
        height: 26px;
        width: 26px;
    }
    
    .projects-search-text{
        color: #686868;
        font-family: GT Walsheim Pro;
        font-size: 2.2vw;
        border: none;
        width: 100%;
        height: 25px;
        margin-left: 10px;
    }
    
    .projects-search-left-div{
        width: 5%;
        float: left;
    }
    
    .projects-search-right-div{
        width: 45%;
        float: left;
    }
    
    .projects-search-div{
        margin-top: 5%;
        margin-left: 15%;
    }
    
    .projects-hackslash-para{
        color: #3E97BF;
        font-family: GT Walsheim Pro;
        font-size: 2.2vw;
        margin-left: 2%;
    
    }
    
    .projects-hackslash-div{
        position: relative;
        width: 100%;
        margin-top: 5%;
        margin-left: 25px;
    }
    
    .projects-hackslash-underline{
        width: 20%;
        border:  1.2px solid rgba(0, 0, 0, 0.47);
        margin-top: -1.4%;
        margin-left: 2%;
        float: left;
    }

    .projects-bottom-left-img{
        position: absolute;
        z-index: -1;
        height: 25%;
        bottom: -3500px;
        left: 0px;
    }
    
    .projects-bottom-right-img{
        position: absolute;
        height: 40%;
        width: 40%;
        z-index: -1;
        bottom: -3500px;
        right: 0px;
    }

}

