.projects-main-div{
    margin-right: 0px;
    margin-left: 0px;
}

.projects-header-first{
    font-family: GT Walsheim Pro;
    margin-top: 0px;
}

.projects-header-fourth{
    color: rgb(9,117,225);
    font-family: GT Walsheim Pro;
    margin-bottom: 0px;
}

.projects-img{
    margin-top: 0px;
}

.projects-input{
    margin: 0px;
    margin-left: 0px;
    padding: 6px;
    padding-left: 15px;
    font-family: cursive;
}

.projects-div-second{
    margin-top: 87px;
}

.projects-div-third{
    justify-content:center;
    margin-left:0px;
    margin-right:0px;
}

.projects-div-fourth{
    margin: 40px;
    padding-left:0px;
    padding-right:0px;
}

.projects-div-fifth{
    justify-content:center;
    align-items:center;
    background-color:#013354
}

.projects-a{
    z-index:0;
    max-height:200px;
}

.projects-location-div{
    display:flex;
    justify-content:end;
}

.projects-p{
    background-color:grey;
    font-family:sans-serif;
    color:white;
    margin:10px;
}

.projects-p-second{
    background-color: grey;
    font-family: sans-serif;
    color: white;
    margin: 10px;
}

.projects-p-third{
    background-color:grey;
    font-family:sans-serif;
    color:white;
    margin:10px;
}

.projects-p-fourth{
    font-family: Mada;
}

.projects-div-sixth{
    display:flex;
    justify-content:center;
}

.projects-header-sixth{
    background-color: #3E97BF;
    font-family: Mada;
    color:white;
    font-size:25px;
}

.projects-img-second{
    float:right;
    right:0;
}