.projects-img-top{
    height: 80%;
    width: 80%;
    float: left;
    margin-left: 3%;
    margin-top: 7%;
}

.projects-head-div{
    position: relative;
    width: 100%;
}

.projects-para-title{
    color: #3A454B;
    font-size: 3.5vw;
    font-family: GT Walsheim Pro;
    margin-top: 10%;
    margin-right: 35%;
}

.projects-para-description{
    color: #3F82AA;
    font-family: GT Walsheim Pro;
    font-size: 1.5vw;
    margin-top: 0%;
    margin-right: 35%;
}

.projects-top-left-div{
    width: 40%;
    float: left;
}

.projects-top-right-div{
    width: 60%;
    float: right;
}

.projects-search-img{
    height: 50%;
    width: 50%;
}

.projects-search-text{
    color: #686868;
    font-family: GT Walsheim Pro;
    font-size: 1.2vw;
    border: none;
    width: 100%;
    height: 45%;
    margin-left: 0px;
}

.projects-search-left-div{
    width: 5%;
    float: left;
}

.projects-search-right-div{
    width: 45%;
    float: left;
}

.projects-search-div{
    margin-top: 5%;
}

.projects-hackslash-para{
    color: #3E97BF;
    font-family: GT Walsheim Pro;
    font-size: 1.6vw;
    margin-left: 2%;

}

.projects-hackslash-div{
    position: relative;
    width: 100%;
    margin-top: 5%;
    float: left;
}

.projects-hackslash-underline{
    width: 13%;
    border:  1.2px solid rgba(0, 0, 0, 0.47);
    margin-top: -1.4%;
    margin-left: 2%;
    float: left;
}

.projects-list-div{
    position: relative;
    width: 100%;
    margin-left: 2%;
}

.projects-project-detail{
    height: 400px;
    background-color: #000000;
    width: 400px;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 2%;
}

