@font-face {
  font-family: "GT Walsheim Pro";
  src: url(assets/GTWalsheimProRegular.ttf);
}

@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(assets/brandon_grotesque.otf);
}

@font-face {
  font-family: "Fake Serif";
  src: url(assets/fake_serif.ttf);
}

html {
  height: 100%;
}

body {
    color: white;
    font-family: 'GT Walsheim Pro';
}

.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#item1 {
  width: 50%;
  height: 100%;
}

#item2 {
  width: 50%;
  height: 100%;
}

p {
  margin-top: 10px;
  margin-left: 5vw;
}

#know_more {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: #60b6e9;
  border-radius: 7px;
  margin-top: 15px;
  padding: 2px 8px;
  font-weight: 100;
}

#nav-box-inverted > nav > ul > li > a {
  border-radius: 15px;
  margin: 2px 14px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: white;
  transition: 0.5s ease;
}

#nav-box-inverted > nav > ul > li > a:hover{
  background-color: white;
  color: #60b6e9;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 2px 12px;
  border-radius: 15px;
}

#nav-box-inverted > nav {
  width: 100%;
  font-family: "Brandon Grotesque Black";
  font-size: 20px;
}

#nav-box-inverted > nav > ul {
  list-style: none;
  float: right;
}

#nav-box-inverted > nav > ul > li {
  display: inline-block;
}

#nav-box > nav > ul > li > a {
  border-radius: 15px;
  margin: 2px 14px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: #60b6e9;
  border-radius: 15px;
  transition: 0.5s ease;
}

#nav-box > nav > ul > li > a:hover{
  background-color: #60b6e9;
  color: white;
  box-shadow: rgba(96, 183, 233, 0.699) 0px 2px 12px;
  border-radius: 15px;
}

#nav_selected {
  background-color: #60b6e9;
  color: white;
  border-radius: 15px;
}

#nav-box > nav {
  width: 100%;
  font-family: "Brandon Grotesque Black";
  font-size: 20px;
  position: fixed;
  z-index: 200;
  margin-top: 0px;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  background-color: white;
}

#nav-box > nav > ul {
  list-style: none;
  float: right;
  margin: 16px;
}

#nav-box > nav > ul > li {
  display: inline-block;
}

#nav_home {
  font-size: 50px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: normal;
  color: #60b6e9;
  position: absolute;
  margin-left: 5vw;
  top: 5px;
  text-decoration: none;
}

header {
  margin-left: 5vw;
  font-weight: 400;
  font-size: 100px;
  display: inline-block;
}

#p_world {
  font-family: "Fake Serif";
}

img {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .box {
    flex-direction: column;
  }

  

  #item1 {
    width: 100%;
  }

  #item2 {
    width: 100%;
  }
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}
#box{
  position: absolute;
width: 810px;
z-index: -1;
height: 587px;
left: -61px;
top: 74px;
}


#content {	
    float: left; 
    width: 100%;
}
        
#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    display:block;
    background: #ffffff;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

img.btn_close {
    float: right; 
    margin: -40px -40px 0 0;
    position: absolute;
    right: 0;
}

.join-us-box{
    width: 75vw;
    height: 75vh;
    display: flex;
}

.left-div{
    width: 330px;
    height: 615px;
    background: #60b6e9;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 45px;
}

.right-div{
    width: 830px;
    height: 615px;
    background: #ffffff;
    background-image: url(assets/joinusBG.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 55%;
    color: #000000;
    padding-left: 75px;
    padding-top: 45px;
}

#login-box p{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.left-div input{
    outline: none;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    margin-top: 25px;
    width: 100%;
}

.left-div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #ffffff;
opacity: 1; /* Firefox */
}

.left-div input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #ffffff;
}

.left-div input::-ms-input-placeholder { /* Microsoft Edge */
color: #ffffff;
}

#signin-btn{
    cursor: pointer;
    background: #ffffff;
    color: #60b6e9;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    padding: 7px;
    box-shadow: 2px 2px 2px #0000002a;
    border-radius: 25px;
}

.signin-btns{
    cursor: pointer;
    background: #ffffff;
    color: #757575;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    border-radius: 5px;
}

.fab{
    margin-top: 5px;
    margin-right: 20px;
    color: #323131;
}

.right-div input{
    padding-bottom: 5px;
    padding-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid #0000001a;
    color: #60b6e9;
    font-size: 18px;
    margin-top: 25px;
}

.right-div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #60b6e9;
opacity: 1; /* Firefox */
}

.right-div input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #60b6e9;
}

.right-div input::-ms-input-placeholder { /* Microsoft Edge */
color: #60b6e9;
}    

.name, .details input{
    width: 45%;
}

.name{
    display: flex;
}

.name input{
    width: 48%;
}

.details{
    display: flex;
    flex-direction: column;
}

#signup-btn{
    cursor: pointer;
    background: #60b6e9;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    width: 26%;
    padding: 12px;
    box-shadow: 2px 2px 2px #0000003a;
    border: none;
    border-radius: 8px;
}
