@font-face {
  font-family: 'GT Walsheim Pro';
  src: url(assets/GTWalsheimProRegular.ttf);
}

@font-face {
  font-family: 'Brandon Grotesque Black';
  src: url(assets/brandon_grotesque.otf);
}

@font-face {
  font-family: 'Fake Serif';
  src: url(assets/fake_serif.ttf);
}

html {
  height: 100%;
}

body {
  /* Background Image */
  background-color: #60b6e9;
  color: white;
  font-family: 'GT Walsheim Pro';
}

.box {
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#item1{
  width: 50%;
  height: 100%;
}

#item2{
  width: 50%;
  height: 100%;
}

P {
  margin-top: 10px;
  margin-left: 5vw;
}
a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

p > a{
  background-color: white;
  color: #60b6e9;
  border-radius: 7px;
  margin-top: 15px;
  padding: 2px 8px;
  font-weight: 100;
}

li > a{
  border-radius: 10px;
  margin: 2px 14px;
  padding: 8px;
  transition: background-color 0.5s ease
}

li > a:hover, a:active {
  background-color: white;
  color: #60b6e9;
  border-radius: 15px;
}

nav {
  width: 100%;
  font-family: 'Brandon Grotesque Black';
  font-size: 20px;
}
nav > ul {
  list-style: none;
  float: right;
}

nav > ul > li {
  display: inline-block;
}

#drop{
  display: none;
}

#drop:hover{
  display:block;
}

header {
  margin-top: 5vw;
  margin-left: 5vw;
  font-weight: 400;
  font-size: 100px;
  display: inline-block;
}

#p_world{
  font-family: 'Fake Serif';
}

img {
  max-width:100%;
}

@media screen and (max-width: 480px) {
  .box{
    flex-direction: column;
  }
  #item1{
    width: 100%;
  }
  #item2{
    width: 100%;
  }
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.dropdown-content a {
  color: #60b6e9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}
#box{
  position: absolute;
width: 810px;
height: 587px;
left: -61px;
top: 74px;
}
