
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Mada&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <meta charset="UTF-8">

</head>

<body style="padding: 0px">
  <app-navbar></app-navbar>
<!--<div id="container">
    <div id="nav-box">
      <nav>
        <a href="index.html" id="nav_home">hackslash</a>
        <ul>
          <li><a href="#">Events</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Hall of Fame</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#" id="nav_selected">About Us</a></li>
          <li><a href="#">Join Us</a></li>
        </ul>
      </nav>
    </div>
  </div>-->


  <img src="assets/about_us/about-bg-1.svg" style="margin-right: -5px; width: 500px; margin-top: -20px; position: absolute; right: 0px;
    z-index: -1;">
  <p id="about_us_heading">About Us</p>
  <p id="about_us">
    Hackslash is a student developers' community powered by Mozilla Campus Clubs Network that focuses
    fundamentally on software development. Hackslash subsists on the belief that everyone can create & innovate. The
    club aims at contriving better code by involving people from all walks of life. The ever-growing community of
    young developers strives at upholding this maxim through the years to come.
  </p>
  <img src="assets/about_us/about-bg-2.svg"
       style="margin-right: 90px;margin-top: 0px; height: 100%; width: 600px; position: absolute; z-index: -1;">
  <p id="our_story_heading">Our Story</p>
  <p id="our_story">
    Platea porttitor eu semper sagittis scelerisque duis at mi sed. Neque faucibus rhoncus, ac
    curabitur ut tellus. Adipiscing nisi, quisque eget dolor augue. Ut sed eget consectetur fermentum velit
    tincidunt auctor purus. Ornare sit elementum iaculis platea. At donec molestie condimentum nunc sed nulla.
    Gravida lectus velit scelerisque fermentum. Lectus dignissim enim justo, neque viverra bibendum. Nulla est donec
    egestas dictumst odio maecenas aliquam felis massa. Velit amet enim, facilisi id arcu sit. Mi et elementum enim
    tempus aliquet egestas turpis orci. Urna nunc lorem tellus est viverra nunc ornare viverra. Vulputate hendrerit
    ut sagittis non accumsan neque cras feugiat. Facilisis faucibus ullamcorper tortor lectus orci, aliquam faucibus
    at.
  </p>

  <p id="meet_the_team">Meet the team</p>



  <div id="members_list">

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <!-- More cards to be added here later -->
  </div>



  <img src="assets/about_us/about-bg-3.svg"
       style="margin-right: 90px; margin-top: -650px; height: 100%; width: 100%; position: absolute; padding-right: 80%">
</body>
