<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
               >
    <mat-toolbar><a routerLink="">hackslash</a></mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="events">Events</a>
      <a mat-list-item routerLink="projects">Projects</a>
      <a mat-list-item routerLink="hall">Hall of Fame</a>
      <a mat-list-item href="#">Articles</a>
      <a mat-list-item routerLink="about">About Us</a>
      <a mat-list-item href="#">Join Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">.</mat-icon>
      </button>
      <span><a routerLink="" style="color:white;font-size:larger">hackslash</a></span>
      <span style="flex : 1 1 auto"></span>
      <div *ngIf="(isHandset$|async)==false">
        <a routerLink="events">Events</a>
        <a  routerLink="projects">Projects</a>
        <a  routerLink="hall">Hall of Fame</a>
        <a routerLink="article">Articles</a>
        <a  routerLink="about">About Us</a>
        <a routerLink="login">Join Us</a>
      </div>
    </mat-toolbar>
   <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
