<app-navbar></app-navbar>
<body style="background-color:white">
  <img class="float-left visible img-fluid" data-toggle="tooltip" data-bs-tooltip="" src="assets/img/events/events-bg-1.svg">
  <div>
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
      <div class="col-md-6 col-xl-7 d-flex flex-column justify-content-center align-items-center">
        <div class="row d-flex justify-content-center">
          <div class="col-xl-12 offset-xl-1 d-flex">
            <h1 class="d-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center align-content-center align-self-center" style="font-family: GT Walsheim Pro;margin-top: 0px;">Ready to Join the Movement?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-11">
            <h4 id="in" class="d-inline-flex align-content-center align-self-center img-fluid" style="color: rgb(9,117,225);margin-bottom: 0px;font-family: GT Walsheim Pro;">Check out What's Happening in the Campus</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 offset-xl-1"><img class="visible img-fluid" src="assets/img/events/events-bg-2.svg" style="margin-top: 0px;"></div>
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
      <div class="col">
        <div class="row">
          <div class="col-2 d-flex justify-content-end"><img class="img-fluid" src="assets/img/events/events-ic-search.svg"></div>
          <div class="col-xl-4"><input class="form-control-plaintext" type="text" placeholder="Search" style="margin: 0px;margin-left: 0px;padding: 6px;padding-left: 15px;font-family: GT Walsheim Pro;"></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row" style="margin-top: 87px;">
      <div class="col-12 col-md-4 col-xl-2 d-flex" id="upcom">
        <h5 class="m-auto" style="   font-family: GT Walsheim Pro;
">Upcoming</h5>
        <h5 class="m-auto" style="font-family: GT Walsheim Pro;">Past</h5>
      </div>
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row" style="justify-content:center;margin-left:0px;margin-right:0px;">
      <img id="bg-4" class="img-fluid" style="position:absolute;float:right;right:0;height:70%;" src="assets/img/events/events-bg-4.svg" />
      <img id="bg-3" class="img-fluid" style="position:absolute;float:left;left:0;height:70%;margin-top:15%" src="assets/img/events/events-bg-3.svg" />

      <div class="card border rounded shadow col-sm-6 col-lg-3 item" style="margin: 40px;padding-left:0px;padding-right:0px;" *ngFor="let item of events | async">
        <img class="card-img-top w-100 d-block">
        <div class="location" style="align-self:end;position:absolute;z-index:4;margin-top:55%;margin-right:10px;padding:2px;border-radius:2px;background-color:white;">
          <img src="assets/img/events/event-ic-location.svg" width="12px" height="12px"
               style="margin-right: 4px;margin-top: -2px;z-index:5;">
          {{item.location}}
        </div>
        <img class="img-fluid" style="z-index:0;" src="https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />

        <div class="card-body">
          <h4 class="card-title" style="font-family: GT Walsheim Pro;">{{item.name}}</h4>
          <p class="card-text" style="font-family: GT Walsheim Pro;">
            {{item.detail}}
          </p>

          <div class="location">
            <img src="assets/img/events/event-ic-time.svg" width="12px" height="12px"
                 style="margin-right: 4px;margin-top: -2px;">
            {{item.time}}
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
