
<body id="bod" style="background-color:#60b6e9;">
    <section style="background-color:#60b6e9">
        <div class="row" style="margin-left:0px;margin-right:0px;color:white;">
            <div class="col-xl-6 d-flex flex-column  align-self-center justify-content-xl-start">
                <h1 id="head">hackslash</h1>
                <h3 style="margin-bottom:4vh;font-weight:400;">
                    Student Developer Club<br>National Institute of Technology, Patna
                </h3>
                <h5 style="margin-bottom:20px;font-weight:400">
                    Come, be a part of the community<br />and help contrive better software.
                    <br />
                    <a routerLink="about" id="know_more" style="color:#60b6e9;font-weight:bolder">Know more</a>
                </h5>
                <h3 id="p_world" style="margin-top:20px;">
                    In a world of technology,<br>people make the difference.
                </h3>
            </div>
            <div class="col" style="margin-right:50px;background-color:#60b6e9">
                <img class="img-fluid" style="background-color:#60b6e9" src="assets/coderdojo.png">
            </div>
        </div>
    </section>
</body>