
@media (min-width:800px) {
  h1 {
    font-size: 7rem;
    margin-left: 100px
  }
  h3,h5{
      margin-left:100px;
  }
  #p_world {
    font-size: 4rem;
    margin-left: 100px;
    margin-top:2vh;
  }
 
}
 #head {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
@media(max-width:800px){
 
  #head{
        font-size:4rem;
  }
  
  #bod{
      height:95vh;
  }
}
@media(min-width:1200px){

  #know_more{
      margin-top:2vh;
  }
  #bod{
      height:93.3vh;
  }
}
