<div>
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-md-6 col-xl-7 d-flex flex-column justify-content-center align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12 offset-xl-1 d-flex">
          <h1 class="d-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center align-content-center align-self-center" style="font-family: cursive;margin-top: 0px;">
          Our Projects</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-11">
          <h4 class="d-inline-flex align-content-center align-self-center img-fluid" style="color: rgb(9,117,225);margin-bottom: 0px;">Check out What's Happening in the Campus</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 offset-xl-1"><img class="visible img-fluid" src="assets/img/events/events-bg-2.svg" style="margin-top: 0px;"></div>
  </div>
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col">
      <div class="row">
        <div class="col-2 d-flex justify-content-end"><img class="img-fluid" src="assets/img/events/events-ic-search.svg"></div>
        <div class="col"><input class="form-control-plaintext" type="text" placeholder="Search" style="margin: 0px;margin-left: 0px;padding: 6px;padding-left: 15px;font-family: cursive;"></div>
      </div>
    </div>
  </div>
</div>
