<body>
  <app-navbar></app-navbar>
  <div id="container">
    <div id="nav-box">
      <nav>
        <a routerLink="../" id="nav_home">hackslash</a>
        <ul>
          <li><a routerLink="../events" id="nav_selected">Events</a></li>
          <li><a routerLink="../projects">Projects</a></li>
          <li><a routerLink="../hall">Hall of Fame</a></li>
          <li><a href="#">Articles</a></li>
          <li><a routerLink="about">About Us</a></li>
          <li><a href="#">Join Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <img src="assets/Asset.svg" id="box">
  <h2 style="position: absolute;
        width: 680px;
        z-index: -1;
        height: 182px;
        left: 889px;
        top: 257px;
        font-family: GT Walsheim Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 121.73%;
        color: #3A454B;
        ">
    Lorem ipsum dolor sit amet
  </h2>
  <h4 style="position: absolute;
        width: 680px;
        z-index: -1;
        height: 85px;
        left: 889px;
        top: 464px;

        font-family: GT Walsheim Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 42px;

        color: #3F82AA;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenati
  </h4>
  <!--<img src="assets/Vector (3).svg">
  <img src="assets/Vector (4).svg">
  <img src="assets/Vector (5).svg">-->
  <h6 style="position: absolute;
       width: 257px;
       z-index: -1;
       height: 48px;
       left: 90px;
       top: 711px;
       border-bottom-style: solid ;
       border-bottom-width: 2px ;
       border-bottom-color: black ;
       font-family: GT Walsheim Pro;
       font-style: normal;
       font-weight: normal;
       font-size: 36px;
       line-height: 48px;
       /* identical to box height */

       display: flex;
       align-items: center;
       color: #3E97BF;
       ">
    Hackslash Picks
  </h6>

  <input type="text" style="position: absolute;
       width: 570px;
      border-bottom-color: black
      border-bottom-width: 1px;
       border-top: whitesmoke 1px ;
       border-right: whitesmoke 1px ;
       padding-left:50px;
       font-size:20px;
       height: 45px;
       border-left: whitesmoke 1px ;
       left: 889px;
       margin-top: 65px;
       top: 609px;
       " placeholder="Search our projects">
  <img src="assets/Icon feather-search.svg" style="position: absolute;
       left: 47.08%;
       right: 51.35%;
       margin-top: 530px;
       margin-left: 90px;
       top: 19.97%;
       bottom: 79.05%;">
  <ul>
    <li>
      <ul style="list-style-type: none;z-index: -1;">
        <li style="
                   border-radius: 5px;
                    height: 644px;
                    width: 510px;
                    margin-top: 855px;
                    margin-left: 2px;
                   float: left;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
                    ">
          <img src="assets/img.svg" style="position: absolute;
                        width: 510px;
                        height: 352px;
                        left: 90px;
                        top: 807px;
                        margin-top: 65px;
                        ">
          <img src="assets/Vector (2).svg" style="position: absolute;
                       left: 19.95%;
                       right: 79.22%;
                       padding: 5px;
                       top: 38.76%;
                       margin-top: 941px;
                       align-items: center;
                       background-color: #d3d3d3;
                       margin-left: 65px;
                       bottom: 60.72%;
                       ">
          <p style="position: absolute;
                       width: 31px;
                       height: 21px;
                       background-color: #d3d3d3;
                       left: 407px;
                       top: 1182px;
                       padding-top: 2px;
                       padding-bottom: 2.5px;
                       padding-left: 3px;
                       padding-right: 3px;
                       align-items: center;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 21px;
                       display: flex;
                       align-items: center;
                       margin-top: 49px;
                       margin-left: 23px;
                       color: #000000;
                       ">Fork</p>
          <p style="position: absolute;
                       width: 19px;
                       height: 23px;
                       left: 452px;
                       background-color: #d3d3d3;
                       padding-top: 1px;
                       padding-bottom: 2px;
                       padding-left: 3px;
                       padding-right: 4px;
                       top: 1180px;
                       margin-top: 51px;
                       margin-left: 15px;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 18px;
                       line-height: 23px;
                       display: flex;
                       align-items: center;
                       color: #000000;">39</p>
          <img src="assets/star.svg" style="position: absolute;
                       width: 24px;
                       background-color: #d3d3d3;
                       height: 24px;
                       padding: 2px;
                       left: 501px;
                       margin-top: 50px;
                       margin-left: 0px;
                       top: 1180px;
                       ">
          <p style="position: absolute;
                       width: 28px;
                       height: 21px;
                       background-color: #d3d3d3;
                       padding-top: 4px;
                       padding-bottom: 3px;
                       padding-left: 3px;
                       padding-right: 3px;
                       left: 530px;
                       top: 1182px;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 21px;
                       display: flex;
                       margin-top: 48px;
                       margin-left: -8px;
                       align-items: center;
                       color: #000000;
                       ">Star</p>
          <p style="position: absolute;

                       left: 572px;
                       top: 1181px;
                       font-family: Mada;
                       background-color: #d3d3d3;
                       padding-top: 3px;
                       padding-bottom: 2.5px;
                       padding-left: 3px;
                       padding-right: 5px;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 18px;
                       margin-top: 49px;
                       margin-left: -20px;
                       line-height: 23px;
                       display: flex;
                       align-items: center;
                       color: #000000;">4</p>
          <h5 style="position: absolute;
                        width: 456px;
                        height: 83px;
                        left: 132px;
                        top: 1218px;
                        font-family: GT Walsheim Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 32px;
                        line-height: 42px;
                        color: #000000;">
            Eleifend quis auctor nulla elit molestie.
          </h5>
          <p style="position: absolute;
                        width: 456px;
                        height: 54px;
                        left: 132px;
                        top: 1310px;
                        font-family: GT Walsheim Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 26px;
                        margin-top:60px;
                        margin-left:-1px;
                        color: rgba(0, 0, 0, 0.54);
                        ">At aliquet mattis aliquam posuere. Congue ante ac ultrices nunc</p>
          <img src="assets/Language.svg" style="position: absolute;
                        left: 6.88%;
                        margin-top: 1102px;
                        margin-left: -20px;
                        right: 91.88%;
                        top: 45.2%;
                        bottom: 54.01%;">
          <h5 style="
                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 48px;
                        margin-top: 58px;
                        ">
            CSS
          </h5>
          <h5 style="

                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 108px;
                        margin-top: 58px;
                        ">
            React
          </h5>
          <h5 style="

                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 178px;
                        margin-top: 58px;
                        ">
            Machine Learning
          </h5>
        </li>
        <li style="
                   border-radius: 5px;
                    height: 644px;

                    width: 510px;
                    margin-top: 855px;
                    margin-left: 20px;
                   float: left;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
                    ">
          <img src="assets/img.svg" style="position: absolute;
                        width: 510px;
                        height: 352px;
                        left: 90px;
                        margin-left: 530px;
                        top: 807px;
                        margin-top: 65px;
                        ">
          <img src="assets/Vector (2).svg" style="position: absolute;
                       left: 19.95%;
                       right: 79.22%;
                       padding: 5px;
                       top: 38.76%;
                       margin-top: 941px;
                       align-items: center;
                       background-color: #d3d3d3;
                       margin-left: 585px;
                       bottom: 60.72%;
                       ">
          <p style="position: absolute;
                       width: 31px;
                       height: 21px;
                       background-color: #d3d3d3;
                       left: 407px;
                       top: 1182px;
                       padding-top: 2px;
                       padding-bottom: 2.5px;
                       padding-left: 3px;
                       padding-right: 3px;
                       align-items: center;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 21px;
                       display: flex;
                       align-items: center;
                       margin-top: 49px;
                       margin-left: 543px;
                       color: #000000;
                       ">Fork</p>
          <p style="position: absolute;
                       width: 19px;
                       height: 23px;
                       left: 452px;
                       background-color: #d3d3d3;
                       padding-top: 1px;
                       padding-bottom: 2px;
                       padding-left: 3px;
                       padding-right: 4px;
                       top: 1180px;
                       margin-top: 51px;
                       margin-left: 535px;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 18px;
                       line-height: 23px;
                       display: flex;
                       align-items: center;
                       color: #000000;">39</p>
          <img src="assets/star.svg" style="position: absolute;
                       width: 24px;
                       background-color: #d3d3d3;
                       height: 24px;
                       padding: 2px;
                       left: 501px;
                       margin-top: 50px;
                       margin-left: 520px;
                       top: 1180px;
                       ">
          <p style="position: absolute;
                       width: 28px;
                       height: 21px;
                       background-color: #d3d3d3;
                       padding-top: 4px;
                       padding-bottom: 3px;
                       padding-left: 3px;
                       padding-right: 3px;
                       left: 530px;
                       top: 1182px;
                       font-family: Mada;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 21px;
                       display: flex;
                       margin-top: 48px;
                       margin-left: 518px;
                       align-items: center;
                       color: #000000;
                       ">Star</p>
          <p style="position: absolute;

                       left: 572px;
                       top: 1181px;
                       font-family: Mada;
                       background-color: #d3d3d3;
                       padding-top: 3px;
                       padding-bottom: 2.5px;
                       padding-left: 3px;
                       padding-right: 5px;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 18px;
                       margin-top: 49px;
                       margin-left: 510px;
                       line-height: 23px;
                       display: flex;
                       align-items: center;
                       color: #000000;">4</p>
          <h5 style="position: absolute;
                        width: 456px;
                        height: 83px;
                        left: 132px;
                        top: 1218px;
                        font-family: GT Walsheim Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 32px;
                        line-height: 42px;
                        margin-left: 530px;
                        color: #000000;">
            Eleifend quis auctor nulla elit molestie.
          </h5>
          <p style="position: absolute;
                        width: 456px;
                        height: 54px;
                        left: 132px;
                        top: 1310px;
                        font-family: GT Walsheim Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 26px;
                        margin-top:60px;
                        margin-left:529px;
                        color: rgba(0, 0, 0, 0.54);
                        ">At aliquet mattis aliquam posuere. Congue ante ac ultrices nunc</p>
          <img src="assets/Language.svg" style="position: absolute;
                        left: 6.88%;
                        margin-top: 1102px;
                        margin-left: 510px;
                        right: 91.88%;
                        top: 45.2%;
                        bottom: 54.01%;">
          <h5 style="
                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 48px;
                        margin-top: 58px;
                        ">
            CSS
          </h5>
          <h5 style="

                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 108px;
                        margin-top: 58px;
                        ">
            React
          </h5>
          <h5 style="

                        position: absolute;
                        padding-right: 8px;
                        padding-left: 5px;
                        border-radius: 3px;
                        top: 1384px;
                        background-color: #3E97BF;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #FFFFFF;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        margin-left: 178px;
                        margin-top: 58px;
                        ">
            Machine Learning
          </h5>
        </li>
        <li style="
                    border-radius: 5px;
                     height: 644px;

                     width: 510px;
                     margin-top: 855px;
                     margin-left: 20px;
                    float: left;
                     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
                     ">
          <img src="assets/img.svg" style="position: absolute;
                         width: 510px;
                         height: 352px;
                         left: 90px;
                         margin-left: 1060px;
                         top: 807px;
                         margin-top: 65px;
                        ">
          <img src="assets/Vector (2).svg" style="position: absolute;
                        left: 19.95%;
                        right: 79.22%;
                        padding: 5px;
                        top: 38.76%;
                        margin-top: 941px;
                        align-items: center;
                        background-color: #d3d3d3;
                        margin-left: 1125px;
                        bottom: 60.72%;
                        ">
          <p style="position: absolute;
                        width: 31px;
                        height: 21px;
                        background-color: #d3d3d3;
                        left: 407px;
                        top: 1182px;
                        padding-top: 2px;
                        padding-bottom: 2.5px;
                        padding-left: 3px;
                        padding-right: 3px;
                        align-items: center;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 21px;
                        display: flex;
                        align-items: center;
                        margin-top: 49px;
                        margin-left: 1083px;
                        color: #000000;
                        ">Fork</p>
          <p style="position: absolute;
                        width: 19px;
                        height: 23px;
                        left: 452px;
                        background-color: #d3d3d3;
                        padding-top: 1px;
                        padding-bottom: 2px;
                        padding-left: 3px;
                        padding-right: 4px;
                        top: 1180px;
                        margin-top: 51px;
                        margin-left: 1075px;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        display: flex;
                        align-items: center;
                        color: #000000;">39</p>
          <img src="assets/star.svg" style="position: absolute;
                        width: 24px;
                        background-color: #d3d3d3;
                        height: 24px;
                        padding: 2px;
                        left: 501px;
                        margin-top: 50px;
                        margin-left: 1060px;
                        top: 1180px;
                        ">
          <p style="position: absolute;
                        width: 28px;
                        height: 21px;
                        background-color: #d3d3d3;
                        padding-top: 4px;
                        padding-bottom: 3px;
                        padding-left: 3px;
                        padding-right: 3px;
                        left: 530px;
                        top: 1182px;
                        font-family: Mada;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 21px;
                        display: flex;
                        margin-top: 48px;
                        margin-left: 1058px;
                        align-items: center;
                        color: #000000;
                        ">Star</p>
          <p style="position: absolute;

                        left: 572px;
                        top: 1181px;
                        font-family: Mada;
                        background-color: #d3d3d3;
                        padding-top: 3px;
                        padding-bottom: 2.5px;
                        padding-left: 3px;
                        padding-right: 5px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        margin-top: 49px;
                        margin-left: 1050px;
                        line-height: 23px;
                        display: flex;
                        align-items: center;
                        color: #000000;">4</p>
          <h5 style="position: absolute;
                         width: 456px;
                         height: 83px;
                         left: 132px;
                         top: 1218px;
                         font-family: GT Walsheim Pro;
                         font-style: normal;
                         font-weight: normal;
                         font-size: 32px;
                         line-height: 42px;
                         margin-left: 1090px;
                         color: #000000;">
            Eleifend quis auctor nulla elit molestie.
          </h5>
          <p style="position: absolute;
                         width: 456px;
                         height: 54px;
                         left: 132px;
                         top: 1310px;
                         font-family: GT Walsheim Pro;
                         font-style: normal;
                         font-weight: normal;
                         font-size: 20px;
                         line-height: 26px;
                         margin-top:60px;
                         margin-left:1089px;
                         color: rgba(0, 0, 0, 0.54);
                         ">At aliquet mattis aliquam posuere. Congue ante ac ultrices nunc</p>
          <img src="assets/Language.svg" style="position: absolute;
                         left: 6.88%;
                         margin-top: 1102px;
                         margin-left: 1040px;
                         right: 91.88%;
                         top: 45.2%;
                         bottom: 54.01%;">
          <h5 style="
                         position: absolute;
                         padding-right: 8px;
                         padding-left: 5px;
                         border-radius: 3px;
                         top: 1384px;
                         background-color: #3E97BF;
                         font-family: Mada;
                         font-style: normal;
                         font-weight: 500;
                         font-size: 20px;
                         color: #FFFFFF;
                         line-height: 26px;
                         display: flex;
                         align-items: center;
                         margin-left: 48px;
                         margin-top: 58px;
                         ">
            CSS
          </h5>
          <h5 style="

                         position: absolute;
                         padding-right: 8px;
                         padding-left: 5px;
                         border-radius: 3px;
                         top: 1384px;
                         background-color: #3E97BF;
                         font-family: Mada;
                         font-style: normal;
                         font-weight: 500;
                         font-size: 20px;
                         color: #FFFFFF;
                         line-height: 26px;
                         display: flex;
                         align-items: center;
                         margin-left: 108px;
                         margin-top: 58px;
                         ">
            React
          </h5>
          <h5 style="

                         position: absolute;
                         padding-right: 8px;
                         padding-left: 5px;
                         border-radius: 3px;
                         top: 1384px;
                         background-color: #3E97BF;
                         font-family: Mada;
                         font-style: normal;
                         font-weight: 500;
                         font-size: 20px;
                         color: #FFFFFF;
                         line-height: 26px;
                         display: flex;
                         align-items: center;
                         margin-left: 178px;
                         margin-top: 58px;
                         ">
            Machine Learning
          </h5>
        </li>
      </ul>
    </li>
  </ul>
  <img src="assets/undraw_to_the_moon_v1mv 1.svg" style="float: right;margin-top: 30px;">
</body>
