<app-navbar></app-navbar>
<body style="background-color:white">
<div>
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-md-4 col-lg-4 col-xl-4 offset-xl-1" style="margin: 26px;margin-left: 0px;"><img class="visible img-fluid" src="assets/img/background2.svg" style="margin: 0px;margin-top: 0px;"></div>
    <div class="col-md-6 col-xl-7 d-flex flex-column justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12 offset-xl-1 d-flex">
          <div class="row d-flex justify-content-center align-content-center">
            <div class="col d-inline-flex">
              <h1 style="font-family: GT Walsheim Pro;">YOURS</h1>
            </div>
          <div class="col d-inline-flex align-self-center">
          <h3 style="color:#2fefe4;font-family: GT Walsheim Pro;">FOR INSPIRATION</h3></div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-11">
          <h6 class="d-inline-flex align-content-center align-self-center img-fluid" style="    color: rgb(6,18,30);
    margin-bottom: 0px;
    font-family: GT Walsheim Pro;"><strong>Hackslash is a student developers' community powered by Mozilla Campus Clubs Network that focuses&nbsp;fundamentally on software development. Hackslash subsists on the belief that everyone can create &amp; innovate.</strong><br></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col">
      <div class="row">
        <div class="col-2 d-flex justify-content-end"><img class="img-fluid" src="assets/img/events/events-ic-search.svg"></div>
        <div class="col"><input class="form-control-plaintext" type="text" placeholder="Search" style="margin: 0px;margin-left: 0px;padding: 6px;padding-left: 15px;font-family: GT Walsheim Pro;"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 56px;">
    <div class="col-12 col-md-4 col-xl-2 d-flex" id="upcom">
      <h5 class="m-auto" style="font-family: GT Walsheim Pro;">Recent</h5>
      <h5 class="m-auto" style="font-family: GT Walsheim Pro;">All</h5>
    </div>
    <div class="col">
      <hr>
    </div>
  </div>
</div>
<div class="card border rounded shadow" style="margin: 27px;">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>
  </div>
</div>
</body>
