<app-nav></app-nav>
<body style="background-color:#60b6e9">
  <section style="height:93.3vh;">
    <div class="row" style="margin-left:0px;margin-right:0px;color:white;">
      <div class="col-xl-6 d-flex flex-column justify-content-center align-content-center align-self-center justify-content-xl-start">
        <h1>hackslash</h1>
        <h3>
          <strong>Student Developer Club<br>National Institute of Technology, Patna</strong>
        </h3>
        <h5>
          Come, be a part of the community<br />and help contrive better software.
          <br />
          <a routerLink="about" id="know_more" style="color:black"><strong>Know more</strong></a>
        </h5>
        <h3 id="p_world">
          In a world of technology,<br>people make the difference.
        </h3>
      </div>
      <div class="col" style="margin-right:50px;">
        <img class="img-fluid" src="assets/coderdojo.png">
      </div>
    </div>
  </section>
</body>
