@font-face {
  font-family: "GT Walsheim Pro";
  src: url(assets/GTWalsheimProRegular.ttf);
}

@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(assets/brandon_grotesque.otf);
}

@font-face {
  font-family: "Fake Serif";
  src: url(assets/fake_serif.ttf);
}

#know_more {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: #60b6e9;
  border-radius: 7px;
  margin-top: 15px;
  padding: 2px 8px;
  font-weight: 100;
}

#p_world {
  font-family: "Fake Serif";
}

#nav_selected {
  background-color: white;
  color: #60b6e9;
  border-radius: 15px;
}



/* You can add global styles to this file, and also import other style files */
app-root>.load{
  background-color: rgb(1,51,84);
  height: 100vh;
  align-content: center;
  justify-content: center;
  display: flex;
}

.loading {
  margin-top: 40vh;
  height: 200px;
  animation: load-animate 0.8s ease infinite;
}

@keyframes load-animate {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
