
<div class="row" style="justify-content:center;margin-left:0px;margin-right:0px;">
    <img id="bg-4" class="img-fluid" style="position:absolute;float:right;right:0;height:70%;" src="assets/img/events/events-bg-4.svg" />
    <img id="bg-3" class="img-fluid" style="position:absolute;float:left;left:0;height:70%;margin-top:15%" src="assets/img/events/events-bg-3.svg" />

    <div class="card border rounded shadow col-sm-6 col-lg-3 item" style="margin: 40px;padding-left:0px;padding-right:0px;" *ngFor="let item of ev">
        <img class="card-img-top w-100 d-block">
        <a href={{item.urls}}>
            <img class="img-fluid" style="z-index:0;" src={{item.logo.original.url}} />
        </a>
        <div class="card-body">
            <h4 class="card-title" style="font-family: GT Walsheim Pro;">{{item.name.text}}</h4>
            <p class="card-text" style="font-family: GT Walsheim Pro;">
                {{item.description.text}}
            </p>

            <div class="location">
                <img src="assets/img/events/event-ic-time.svg" width="12px" height="12px" style="margin-right: 4px;margin-top: -2px;"> {{item.start.local | date:'short':'IST'}} - {{item.end.local | date:'short':'IST'}}
            </div>

        </div>
    </div>
</div>
