<div>
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1" style="margin: 26px;margin-left: 0px;"><img class="visible img-fluid" src="assets/img/hall/hall-bg-1.svg" style="margin: 0px;margin-top: 0px;"></div>
    <div class="col-md-6 col-xl-7 d-flex flex-column justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12 offset-xl-1 d-flex" style="margin-left: 0px;">
          <h1 class="d-flex flex-grow-1 flex-shrink-1 align-items-center align-content-center align-self-center" style="font-family: cursive;">The Illuminatis</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-11">
          <h3 class="d-inline-flex align-content-center align-self-center img-fluid" style="font-family: cursive;color: rgb(71,130,188);"><strong>Learning,Inspiring &amp; Growing Together</strong><br></h3>
        </div>
      </div>
    </div>
    <div class="col"><img src="assets/img/hall/hall-bg-2.svg" style="position: absolute;max-width:80%"></div>
  </div>
</div>
<div>
  <div class="row" style="margin-top: 87px;">
    <div class="col-12 col-md-4 col-xl-2 d-flex" id="upcom">
      <h4 class="m-auto" id="head" style="font-family: cursive;">Heading</h4>
    </div>
    <div class="col-xl-10">
      <hr>
    </div>
  </div>
  <div class="card-group">
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row" style="margin-top: 87px;">
    <div class="col-12 col-md-4 col-xl-2 d-flex" id="upcom">
      <h4 class="m-auto" style="font-family: cursive;">Heading</h4>
    </div>
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="card-group">
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
    <div class="card border rounded shadow" style="margin: 40px;">
      <img class="card-img-top w-100 d-block">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
  </div>
</div>
