
body {
  overflow-x: hidden;
}

.page_heading {
  font-family: GT Walsheim Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  width: 40%;
  margin-right: 16px;
  margin-top: 223px;
  margin-left: 40%;
  line-height: 121.73%;
  /* or 88px */
  color: #3A454B;
}

.page_subheading {
  font-family: GT Walsheim Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  width: 50%;
  margin-left: 40%;
  margin-right: 16px;
  color: #3F82AA;
}

.line {
  width: 90%;
  height: 2px;
  position: relative;
  margin-top: 125px;
  z-index: -1;
  background-color: #A3A3A3;
  display: inline-block;
}

#leads {
  font-family: GT Walsheim Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 66px;
  z-index: 1;
  background-color: white;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
  margin-top: -40px;
  margin-left: 100px;
  color: #000000;
}

#members_list {
  margin-top: 50px;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  text-align: center;
}

.member_card {
  width: 300px;
  height: 400px;
  margin-top: 40px;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  box-shadow: 0px 0px 5px #CACACA;
  background-color: #0085CA;
}

.member_name {
  font-family: GT Walsheim Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
  color: #0085CA;
  width: 100%;
  margin-left: 0px;
  margin-top: 24px;
  text-align: center;
}

.member_post {
  font-family: GT Walsheim Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: -4px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
  /* identical to box height */
  color: #686868;
}

.member_photo {
  display: block;
  border-radius: 200px;
  box-sizing: border-box;
  z-index: 5;
  width: 120px;
  height: 120px;
  top: 100px;
  left: 87px;
  margin-left: 0px;
  position: absolute;
  border: 3px solid #0085CA;
}


.about_me_header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  margin-top: 230px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
}

.about_me {
  width: 100%;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  color: #FFFFFF;
}

.links {
  height: auto;
  margin-top: 8px;
  text-align: center;
}

.link {
  width: 36px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  height: 36px;
}
