
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Mada&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <meta charset="UTF-8">
</head>

<body style="padding: 0px">
  <app-navbar></app-navbar>
  <div id="container">
    <div id="nav-box">
      <nav>
        <a routerLink="../" id="nav_home">hackslash</a>
        <ul>
          <li><a routerLink="../events" id="nav_selected">Events</a></li>
          <li><a routerLink="../projects">Projects</a></li>
          <li><a routerLink="../hall">Hall of Fame</a></li>
          <li><a href="#">Articles</a></li>
          <li><a routerLink="about">About Us</a></li>
          <li><a href="#">Join Us</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <img src="assets/hall/hall-bg-1.svg"
       style="width: 540px; height: 360px; position: absolute; top: 150px; left:40px; z-index: -1;">
  <div class="page_heading">Lorem ipsum dolor sit amet</div>
  <div class="page_subheading">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
    luctus venenatis
  </div>
  <img src="assets/hall/hall-bg-2.svg"
       style="width: 75px; height: 500px; position: absolute; top: 150px; right: 0px; z-index: -1;">
  <div style="width: 100%; text-align: center;">
    <div class="line"></div>
    <p id="leads">Leads</p>
  </div>

  <div id="members_list">
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <!-- More cards to be added here later -->
  </div>

  <div style="width: 100%; text-align: center;">
    <div class="line"></div>
    <p id="leads">Top Designers</p>
  </div>

  <div id="members_list">
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <!-- More cards to be added here later -->
  </div>


  <div style="width: 100%; text-align: center;">
    <div class="line"></div>
    <p id="leads">Top Developers</p>
  </div>

  <div id="members_list">

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>

    <div class="member_card card">
      <div style="width: 300px; height: 175px; position: absolute; z-index: 0; background-color: white; margin-left: -1px; margin-top: -1px;">

        <p class="member_name">Kumar Harsh</p>
        <p class="member_post">Technical Lead</p>
      </div>

      <img src="https://avatars0.githubusercontent.com/u/46624829?s=400&u=387daf3f9715ebca5467a76694b28fa7e01a8b66&v=4"
           class="member_photo">

      <p class="about_me_header">About me</p>
      <p class="about_me">Hey - I'm Kr. Harsh, a 20 years old frontend dev. Feel free to follow me or hire me</p>


      <div class="links">
        <a href="https://medium.com/@kharsh39"><img src="assets/about_us/card-link-medium.svg" class="link"></a>
        <a href="https://github.com/krharsh17"><img src="assets/about_us/card-link-github.svg" class="link"></a>
        <a href="https://www.linkedin.com/in/kumar-harsh-0a119716b/">
          <img src="assets/about_us/card-link-linkedin.svg" class="link">
        </a>
        <a href="https://dev.to/krharsh17"><img src="assets/about_us/card-link-dev.svg" class="link"></a>
      </div>
    </div>
    <!-- More cards to be added here later -->
  </div>


  <img src="assets/hall/hall-bg-3.svg"
       style="width: 350px; height: auto; position: absolute; top: 850px; left: 0px; z-index: -2;">
  <img src="assets/hall/hall-bg-4.svg"
       style="width: 850px; height: auto; position: absolute; top: 850px; right: 0px; z-index: -2;">
  <img src="assets/hall/hall-bg-5.svg"
       style="width: 350px; height: auto; position: absolute; top: 1700px; right: 0px; z-index: -2;">
  <img src="assets/hall/hall-bg-6.svg"
       style="width: 850px; height: auto; position: absolute; top: 1800px; left: 0px; z-index: -2;">


  <img src="assets/hall/hall-bg-7.svg"
       style="width: 500px; height: auto; position: absolute; top: 2300px; right: 0px; z-index: -2;">
  <img src="assets/hall/hall-bg-8.svg"
       style="width: 300px; height: auto; position: absolute; top: 2500px; left: 0px; z-index: -2;">

</body>


