<img src="assets/hall/hall-bg-1.svg"
     style="width: 540px; height: 360px; position: absolute; top: 150px; left:40px; z-index: -1;">
<div class="page_heading">The Illuminatis</div>
<div class="page_subheading">
  Learning, inspiring & growing together
</div>
<img src="assets/hall/hall-bg-2.svg"
     style="width: 75px; height: 500px; position: absolute; top: 150px; right: 0px; z-index: -1;">
<div style="width: 100%; text-align: center;" class="leads_header">
  <div class="line"></div>
  <p id="leads">Leads</p>
</div>

<div id="members_list" class="leads">

  <!-- More cards to be added here later -->
</div>

<div style="width: 100%; text-align: center;" class="designers_header">
  <div class="line"></div>
  <p id="leads">Top Designers</p>
</div>

<div id="members_list" class="designers">

</div>


<div style="width: 100%; text-align: center;" class="devs_header">
  <div class="line"></div>
  <p id="leads">Top Developers</p>
</div>

<div id="members_list" class="devs">

</div>


<img src="assets/hall/hall-bg-3.svg"
     style="width: 350px; height: auto; position: absolute; top: 850px; left: 0px; z-index: -2;">
<img src="assets/hall/hall-bg-4.svg"
     style="        width: 850px;
        height: auto;
        position: absolute;
        top: 850px;
        right: 0px;
        z-index: -2;">
<img src="assets/hall/hall-bg-5.svg"
     style="width: 350px; height: auto; position: absolute; top: 1700px; right: 0px; z-index: -2;">
<img src="assets/hall/hall-bg-6.svg"
     style="width: 850px; height: auto; position: absolute; top: 1800px; left: 0px; z-index: -2;">


<img src="assets/hall/hall-bg-7.svg"
     style="width: 500px; height: auto; position: absolute; top: 2300px; right: 0px; z-index: -2;">
<img src="assets/hall/hall-bg-8.svg"
     style="width: 300px; height: auto; position: absolute; top: 2500px; left: 0px; z-index: -2;">
