/* if bottom images behaviour not good, change .bottomImages -> margin */

.parentCard{
    height: 32rem;
    width: 20rem;

}
.mainCardBox{
    margin-top: 1rem;
    margin-left: 1rem;
    background: url("/card-background.svg") no-repeat;
    background-size:18.3rem 30rem;
}
.topImages{
    display: flex;
}
.topLeftImage{
    height: 140px;
    width: 140px;
}
.topRightImage{
    height: 250px;
    width: 200px;
    margin-top: -10px;
    margin-left: -30px;
}
.aboutContent{
    margin-top: -55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.aboutContent h1{
    color: white;
}
.aboutContent h3{
    color: rgb(12, 161, 69);
}
.aboutContent p{
    width: 250px;
    text-align: center;
    color: white;
}
.icons{
    margin: 20px 0px;
}
.linkIcons{
    transform: scale(2);
    margin: 0 15px;
    color: white;
}
.bottomImages{
    display: flex;
    margin-top: -140px;
}
.bottomLeftImage{
    height: 250px;
    width: 200px;
    margin-left: -10px;
}
.bottomRightImage{
    align-self: flex-end;
    height: 140px;
    width: 140px;
    margin-right: 10px;
    margin-bottom: -4px;
}
.parentCard:hover .topLeftImage {
    transform: translate(-0.2rem, -0.2rem);
 }
 .parentCard:hover .topRightImage {
    transform: translate(+0.4rem, -0.4rem);
 }
 .parentCard:hover .bottomLeftImage {
    transform: translate(-0.2rem, -0.2rem);
 }
 .parentCard:hover .bottomRightImage {
    transform: translate(0.4rem, 0.4rem);
 }