@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins','sans-serif';
  font-weight: 300;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body::-webkit-scrollbar{
  display: none;
}

section{
  scroll-snap-align: start;
}
