@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
.mainDiv{
  display: grid;
  max-width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  background: url('../assets/home/Homepage_1_background.svg') center center/cover;
}
.infoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 600px;
}
.infoDiv_right{
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}
.infoDiv_right h1{
  margin: 0px;
  font-family: 'Poppins','sans-serif';
  font-weight: 500;
  font-size: 60px;
}
.infoDiv_right h3{
  margin: 0px;
  font-family: 'Poppins','sans-serif';
  font-weight: 500;
  font-size: 50px;
}
.infoDiv_right p{
  margin: 0px;
  font-family: 'Poppins','sans-serif';
  font-weight: 300;
  font-size: 1rem;
  text-align: right;
  width: 330px;
}

@media (max-width: 768px) {
  .mainDiv{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    height: max-content;
  }
  .infoDiv{
    height: max-content;
    max-width: 100%;
  }
  .infoDiv_right h1{
    
    font-size: 30px;
  }
  .infoDiv_right h3{
    margin: 0px;
    font-family: 'Poppins','sans-serif';
    font-weight: 500;
    font-size: 20px;
  }
  .infoDiv_right p{
    text-align: center;
  }
  .infoDiv_right{
    align-items: center;
  }

}